* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100vh;
}


.box {
  display: inline-grid;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  width: 300px;
  height: 250px;
  margin-left: 40%;
  margin-top: 10%;
}

.hand{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 30px;
}
.label {
  text-align: center;
  margin-bottom: 40px;
  color: #4f4f4f;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}


input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 50px;
  color: black;
  text-align: left;
  text-transform: capitalize;
}

.btn {
  background: #feba01;
  color: #fff;
  border: 0;
  border-radius: 2.06019px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  padding: 10px;
  letter-spacing: 0em;
  text-align: center;
  width: 220px;
  height: 30px;
}
.DeleteIcon{
  cursor: pointer;
}
.DeleteIcon:hover{
  color:red;
}
.EditIcon{
  cursor: pointer;
}
.EditIcon:hover{
  color: blue;
}
.ViewIcon{
  cursor: pointer;
}
.ViewIcon:hover{
  color:chocolate;
}